CalculationEngine/CalculationEngine/Connected Services/ServiceReference1/CalculationEndpoint3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52282/CalculationEndpoint.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="CalculatedMetrics">
    <xs:sequence>
      <xs:element minOccurs="0" name="dayAvg" type="xs:float" />
      <xs:element minOccurs="0" name="deviceMAC" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="id" type="q1:ObjectId" />
      <xs:element minOccurs="0" name="monthAvg" type="xs:float" />
      <xs:element minOccurs="0" name="weekAvg" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatedMetrics" nillable="true" type="tns:CalculatedMetrics" />
</xs:schema>