CalculationEngine/CalculationEngine/Connected Services/ServiceReference1/CalculationEndpoint2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52282/CalculationEndpoint.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculationService" />
  <xs:element name="InsertMetrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CalculationService" minOccurs="0" name="metrics" nillable="true" type="q1:CalculatedMetrics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMetricsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
        <xs:element minOccurs="0" name="nbValueDay" type="xs:int" />
        <xs:element minOccurs="0" name="nbValueWeek" type="xs:int" />
        <xs:element minOccurs="0" name="nbValueMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAverageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAverageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>