CalculationEngine/CalculationEngine/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52282/CalculationEndpoint.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52282/CalculationEndpoint.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52282/CalculationEndpoint.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculationService" />
      <xsd:import schemaLocation="http://localhost:52282/CalculationEndpoint.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculationEndpoint_InsertMetrics_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMetrics" />
  </wsdl:message>
  <wsdl:message name="CalculationEndpoint_InsertMetrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMetricsResponse" />
  </wsdl:message>
  <wsdl:message name="CalculationEndpoint_updateAverage_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAverage" />
  </wsdl:message>
  <wsdl:message name="CalculationEndpoint_updateAverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAverageResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculationEndpoint">
    <wsdl:operation name="InsertMetrics">
      <wsdl:input wsaw:Action="http://tempuri.org/CalculationEndpoint/InsertMetrics" message="tns:CalculationEndpoint_InsertMetrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CalculationEndpoint/InsertMetricsResponse" message="tns:CalculationEndpoint_InsertMetrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAverage">
      <wsdl:input wsaw:Action="http://tempuri.org/CalculationEndpoint/updateAverage" message="tns:CalculationEndpoint_updateAverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CalculationEndpoint/updateAverageResponse" message="tns:CalculationEndpoint_updateAverage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_CalculationEndpoint" type="tns:CalculationEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMetrics">
      <soap:operation soapAction="http://tempuri.org/CalculationEndpoint/InsertMetrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAverage">
      <soap:operation soapAction="http://tempuri.org/CalculationEndpoint/updateAverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_CalculationEndpoint" binding="tns:BasicHttpBinding_CalculationEndpoint">
      <soap:address location="http://localhost:52282/CalculationEndpoint.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>